<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGRASystem</title>
    <link rel="icon" type="image/png" href="~s/src/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Front.styles.css" asp-append-version="true" />
    <style>
        .vertical-nav {
            width: 230px;
            position: fixed;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #4F6F52;
            padding-top: 20px;
            border-right: 1px solid #1A4D2E;
            overflow-y: auto; /* Permitir desplazamiento vertical */
        }

            .vertical-nav a {
                padding: 10px 15px;
                text-align: left;
                text-decoration: none;
                font-size: 18px;
                color: #333;
                display: block;
            }

                .vertical-nav a:hover {
                    background-color: #B5C18E;
                    color: #000;
                }

        .main-content {
            margin-left: 220px; /* Same as the width of the sidebar */
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="vertical-nav">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SGRA</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ExitSystem">Exit</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonView" asp-action="PersonGet">Person</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeView" asp-action="EmployeeGet">Employee</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="CustomerView" asp-action="CustomerGet">Customer</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="SuppliersView" asp-action="SuppliersGet">Suppliers</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="DocumentTypeView" asp-action="DocumentTypeGet">DocumentType</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="WasteTypeView" asp-action="WasteTypeGet">Waste Type</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="WasteView" asp-action="WasteGet">Waste</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ChemicalCompositionView" asp-action="ChemicalCompositionGet">ChemicalComposition</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="CollectWasteView" asp-action="CollectWasteGet">CollectWaste</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ComposterView" asp-action="ComposterGet">Composter</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="FinalCompostVIew" asp-action="FinalCompostGet">FinalCompost</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="FlipView" asp-action="FlipGet">Flip</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ProcessStageView" asp-action="ProcessStageGet">ProcessStage</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="TimeView" asp-action="TimeGet">Time</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="TransactionView" asp-action="TransactionGet">Transaction</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="TemperatureView" asp-action="TemperatureGet">Temperature</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="SaleView" asp-action="SaleGet">Sale</a>
    </div>
    <div class="main-content">
        <div class="container">
            <main role="main" class="pb-3">
                @{
                    var errorMessage = TempData["errorMessage"]?.ToString();
                    var successMessage = TempData["successMessage"]?.ToString();
                }
                @if (!string.IsNullOrWhiteSpace(successMessage))
                {
                    <div class=" alert alert-success">
                        <b>Success : </b>@successMessage
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" arial-label="Close"></button>
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(errorMessage))
                {
                    <div class=" alert alert-danger">
                        <b>Error : </b>@errorMessage
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" arial-label="Close"></button>
                    </div>
                }
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - SGRA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/js/costumjs.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
