@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="icon" type="image/png" href="~/src/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div>
        <div class="d-flex justify-content-center align-items-center" style="height: 20vh; margin-top: 20vh;">
            <img src="~/src/logo.png" width="150" height="150" />
        </div>

        <div class="d-flex justify-content-center align-items-center" style="height: 50vh; text-align: center;">
            <a asp-controller="Acceso" asp-action="Login" class="btn mx-2" style="padding: 15px 30px; font-size: 18px; border-radius: 10px; background-color: darkslategrey; color: #ffffff;">
                The Last Hope
            </a>
            <a asp-controller="AccesoSystem" asp-action="LoginS" class="btn mx-2" style="padding: 15px 30px; font-size: 18px; border-radius: 10px; background-color: darkslategrey; color: #ffffff;">
                SGRA Management System
            </a>

        </div>
    </div>

    @if (ViewData["Mensaje"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Mensaje"]
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
