html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Asegúrate de que la barra de navegación se muestre como un menú vertical */
.navbar-nav {
    width: 100%; /* Para que la lista ocupe todo el ancho disponible */
}

.nav-item {
    width: 100%; /* Cada elemento de la lista ocupa todo el ancho disponible */
}

.nav-link {
    display: block; /* Asegura que los enlaces se comporten como elementos de bloque */
    padding: 10px 15px; /* Ajusta el relleno según sea necesario */
    text-align: left; /* Alinea el texto a la izquierda */
}
